In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score

الف)

In [2]:
raw_data = pd.read_csv("/home/ace/Desktop/BOOTCAMP/s2/Dataset/BOM.csv", na_values="NaN")
raw_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

ب)

In [3]:
print(raw_data.isna().sum())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [4]:
raw_data = raw_data.drop("Date", axis = 1)

In [ ]:
categorical_cols = raw_data.select_dtypes(include=['object']).columns.tolist()
if 'RainTomorrow' in categorical_cols:
    categorical_cols.remove('RainTomorrow')
raw_data = raw_data.dropna(subset=['RainTomorrow'])


ord_enc = OrdinalEncoder(dtype=np.int32)
raw_data['RainTomorrow'] = ord_enc.fit_transform(raw_data[['RainTomorrow']])

In [7]:

one_hot = pd.get_dummies(raw_data[categorical_cols])
raw_data = raw_data.drop(categorical_cols, axis=1)
raw_data = raw_data.join(one_hot)

In [8]:
# Filling the missing values with median
raw_data = raw_data.fillna(raw_data.median())

y = np.array(raw_data.pop('RainTomorrow'))
X = np.array(raw_data)

print(X.shape, y.shape)

(142193, 115) (142193,)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

In [ ]:
score = knn.score(X_test, y_test)
f1 = f1_score(y_test, y_pred)

print(f"Accuracy: {score:.4f}")
print(f"F1 Score: {f1:.4f}")

Accuracy: 0.8325
F1 Score: 0.5716

ج)

برای کوتاه ترین زمان درخت تصمیم چون خیلی سریع مرز تصمیم رو رسم می کنه (در صورت عمق مناسب)
همچنین به میزان پردازش کمتری نیاز داره که برای سیستم های ریل تایم مناسب تره